body {

    background-color: #fdfdfd;

    font-family: 'Nobile', sans-serif;

}

.navbar {

    background: none;
    
    opacity: .3;

    border-color: transparent;

    letter-spacing: 3px;

    text-transform: uppercase;

     margin-top:0px;

}

a {

    background-color: #E4E4E4;

    color: #888888;

    font-size: 1.12em;

    padding-left: 10px;

    padding-right: 10px;

    transition: all .3s ease-in-out;

    -moz-transition: all .3s ease-in-out;

    -webkit-transition: all .3s ease-in-out;

}

#landing-view {

    background-attachment: fixed;

    background-image: url('../images/mind5.jpg');

    background-position: bottom;

    background-size: cover;

    height: 100vh;

    width: 100vw;

    margin-bottom: 0px;

    z-index: 1;

}

.top {

    padding-left: 12px;

    margin-top: 12%;

}

h1 {

    padding-top: 10%;

    color: white;
   
    font-size: 3.5em;

}


.jumbotron p {

    color: white;

    font-size: 2em;

}

.blockquote p {

      color:black;

}

#thegame {

    background-image: url('../images/mind4.png');

    background-attachment: fixed;

    background-position: center;

    background-size: cover;

    width: 100vw;

    padding-bottom: 50px;

    background-repeat: no-repeat;

    position: relative;

    font-weight: 300;

    margin-bottom: 0px;

}

.controls{

      color: black;

}


#instructions {
     
    
    background-image: url('../images/mind2.png');

    background-attachment: fixed;

    background-position: center;

    background-size: cover;

    width: 100vw;

    padding-bottom: 50px;

    background-repeat: no-repeat;

    position: relative;

    font-weight: 300;

    margin-bottom: 0px;


}

h2 {

    margin-left: -5px;

    margin-top: 5%;

    letter-spacing: 7px;

    text-transform: uppercase;

}

footer {

    border-color: transparent;

    text-align: center;

}

.foot {

    margin-bottom: 20px;

}

a {

    padding: 5px 15px 5px 10px;

    background-color: transparent;

}

.alignment {

    line-height: 2px;

}

i {

    display: inline-block;

    box-shadow: 0px 0px 2px #888;

    background-color: #C3C3C3;

    color: #8F8F8F;

    width: 41px;

    height: 41px;

    padding: 20px 0;

    border-radius: 50%;

    font-size: 28px;

    text-align: center;

    vertical-align: middle;

    transition: all .3s ease-in-out;

    -moz-transition: all .3s ease-in-out;

    -webkit-transition: all .3s ease-in-out;

    margin-top: 2.5px;

    margin-bottom: 2.5px;



}

i:hover {

    color: #564F6F;
}

/*-----------MEDIA QUERIES----------*/


@media (max-width: 992px) {

        #landing-view{


        background-attachment: scroll;

    }

}



@media (min-width: 992px) {

    #instructions{


        background-position: center;

        background-size: cover;

        width: 100vw;

    }

    
}



#simongame {

    background-image: url('../images/sky.png');

    background-attachment: fixed;

    background-position: bottom;

    background-size: cover;

    height: 100vh;

    width: 100vw;

    margin-bottom: 0px;

    z-index: 1;

}

.button {

  font-size: 1.5em;

  position: absolute;

  background-color: #ff5b5b;

  width: 64px;

  height: 64px;

  color: lightgrey;

  border-radius: 50% !important;

  cursor: pointer;

  font-family: 'Original Surfer', cursive;

  margin-left: 120px;

  margin-top: 100px;
  
}

.btn-lock {
    
  position: absolute;
 
  margin-left: 40px;

  margin-top: 100px;

  display: inline-block;
    
  background: #ff5b5b;
    
  width: 64px;
    
  height: 64px;
    
  box-sizing: border-box;
    
  padding: 12px 0 0 18px;
    
  border-radius: 50%;
    
  cursor: pointer;
    
  -webkit-tap-highlight-color: transparent;
    
}

.btn-lock svg {
  fill: none;
  transform: translate3d(0, 0, 0);
}

.btn-lock svg .bling {
  stroke: #fff;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-dasharray: 3;
  stroke-dashoffset: 15;
  transition: all 0.3s ease;
}

.btn-lock svg .lock {
  stroke: #fff;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 36;
  transition: all 0.4s ease;
}

.btn-lock svg .lockb {
  fill: #fff;
  fill-rule: evenodd;
  clip-rule: evenodd;
  transform: rotate(8deg);
  transform-origin: 14px 20px;
  transition: all 0.2s ease;
}

#on {
  display: none;
}

#on:checked + label {
  background: #20cca5;
}

#on:checked + label svg {
  opacity: 1;
}

#on:checked + label svg .bling {
  animation: bling 0.3s linear forwards;
  animation-delay: 0.2s;
}

#on:checked + label svg .lock {
  stroke-dasharray: 48;
  animation: locked 0.3s linear forwards;
}

#on:checked + label svg .lockb {
  transform: rotate(0);
  transform-origin: 14px 22px;
}

@-moz-keyframes bling {
  50% {
    stroke-dasharray: 3;
    stroke-dashoffset: 12;
  }
  100% {
    stroke-dasharray: 3;
    stroke-dashoffset: 9;
  }
}

@-webkit-keyframes bling {
  50% {
    stroke-dasharray: 3;
    stroke-dashoffset: 12;
  }
  100% {
    stroke-dasharray: 3;
    stroke-dashoffset: 9;
  }
}

@-o-keyframes bling {
  50% {
    stroke-dasharray: 3;
    stroke-dashoffset: 12;
  }
  100% {
    stroke-dasharray: 3;
    stroke-dashoffset: 9;
  }
}

@keyframes bling {
  50% {
    stroke-dasharray: 3;
    stroke-dashoffset: 12;
  }
  100% {
    stroke-dasharray: 3;
    stroke-dashoffset: 9;
  }
}

@-moz-keyframes locked {
  50% {
    transform: translateY(1px);
  }
}

@-webkit-keyframes locked {
  50% {
    transform: translateY(1px);
  }
}

@-o-keyframes locked {
  50% {
    transform: translateY(1px);
  }
}

@keyframes locked {
  50% {
    transform: translateY(1px);
  }
}



#title {

  font-family: 'Original Surfer', cursive;

  position: absolute;

  font-size: 40px;

  margin-left: 35px;

  margin-top: 40px;

}



#turn {

  position: absolute;

  background: #330000;

  color: red;

  font-family: courier;

  font-size: 20px;

  height: 30px;

  width: 50px;

  margin-left: 90px;

  margin-top: 170px;

  text-align: center;

  vertical-align: middle;

  line-height: 30px;

}



#outer-circle {

  background: #385a94;

  border-radius: 50%;

  height: 500px;

  width: 500px;

  position: relative;

  border-style: solid;

  border-width: 10px;

  margin: auto;

  margin-top: 60px;

  box-shadow: 8px 8px 15px 5px #888888;

}



#topleft {

  position: absolute;

  height: 250px;

  width: 250px;

  border-radius: 250px 0 0 0;

  -moz-border-radius: 250px 0 0 0;

  -webkit-border-radius: 250px 0 0 0;

  background: darkgreen;

  top: 50%;

  left: 50%;

  margin: -250px 0px 0px -250px;

  border-style: solid;

  border-width: 5px;

  box-sizing: border-box;

  -moz-box-sizing: border-box;

  -webkit-box-sizing: border-box;

}



#topright {

  position: absolute;

  height: 250px;

  width: 250px;

  border-radius: 0 250px 0 0;

  -moz-border-radius: 0 250px 0 0;

  -webkit-border-radius: 0 250px 0 0;

  background: darkred;

  top: 50%;

  left: 50%;

  margin: -250px 0px 0px 0px;

  border-style: solid;

  border-width: 5px;

  box-sizing: border-box;

  -moz-box-sizing: border-box;

  -webkit-box-sizing: border-box;

}



#bottomleft {

  position: absolute;

  height: 250px;

  width: 250px;

  border-radius: 0 0 0 250px;

  -moz-border-radius: 0 0 0 250px;

  -webkit-border-radius: 0 0 0 250px;

  background: goldenrod;

  top: 50%;

  left: 50%;

  margin: 0px -250px 0px -250px;

  border-style: solid;

  border-width: 5px;

  box-sizing: border-box;

  -moz-box-sizing: border-box;

  -webkit-box-sizing: border-box;

}



#bottomright {

  position: absolute;

  height: 250px;

  width: 250px;

  border-radius: 0 0 250px 0;

  -moz-border-radius: 0 0 250px 0;

  -webkit-border-radius: 0 0 250px 0;

  background: darkblue;

  top: 50%;

  left: 50%;

  margin: 0px 0px -250px 0px;

  border-style: solid;

  border-width: 5px;

  box-sizing: border-box;

  -moz-box-sizing: border-box;

  -webkit-box-sizing: border-box;

}



#inner-circle {

  position: absolute;

  background: black;

  border-radius: 50%;

  height: 250px;

  width: 250px;

  border-style: solid;

  border-width: 10px;

  top: 50%;

  left: 50%;

  margin: -125px 0px 0px -125px;

  box-sizing: border-box;

  -moz-box-sizing: border-box;

  -webkit-box-sizing: border-box;

}

@media (max-width: 600px){
    
 #outer-circle, #instructions, #thegame, #landing-view {
     
    width: 100%;
     
  }
    
}
